*{
    margin:0;
    padding:0;
}
body{
    font-size: 130%;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    background-color: #009d71;
  
}

header div{
    width: 80%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: black;
    
} 
header div nav{
    margin-top:140px;
}

header div nav ul{
    list-style-type: none;
    display: flex;
   
    
}
header div nav ul li{
    margin: 0 15px;
    font-size: 25px;
    align-items: flex-end;
    

}
header div nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding:0 10px;
    background-color: #789dca;
    border-radius: 50px;
   
}
main{
    background-color: #2ca880;
    
}
main h2{
    
    
    text-align: center;
    font-weight: bold;
    color: white;

    background-image: linear-gradient(130deg ,#789dca 20%,lightgreen,#2ca880 );

}
main section{
    
    
  
    display: flex;
    justify-content: space-evenly;
    
}


.section__img{
    width: 350px;
    height: 350px;
    transition: 3s;


}

.section__img:hover{

  transform: scale(1.3);
   
    

    
}





footer{
   
   
    background-color: #57bd9e;

}

footer section{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

footer section div{

    width: 200px;
    text-align: center;
   
   
}

footer section div ul{
    list-style-type: none;
}
footer section div ul li{
    margin-top: 5px;
}




.footer__enlace{

text-decoration: none;
color: black;
}

.footer__titulo{

  font-size: 140%;
  font-weight: bold;
  color: white;
  background-color: #789dca;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
 
 
}



@media (max-width: 768px){
    body{
        font-size: 100%
    }

    main section{
        
        flex-direction: column;
        align-items: center;
        gap:20px
    }

    header div nav{
        display: none;
    }
    header div{
        justify-content: center;
    }
}

@media (max-width:480px){

    body{
        font-size: 80%;
    }
   footer section{
       justify-content: space-between;
   }

   .section__img:hover{

    transform: none;
   }

   section  {
       margin: 0 auto;
   }

   section div div img{
       margin-top: 10px;
       align-items: center;
   }

     
      
  
      
  
  


}

  


